includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    - ../../
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  level: 1